{% extends '_base.html' %}
{% load static %}

{% block title %}Manager Home{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between align-items-center manager-header x-bg-surface-300">
        <div class="d-flex justify-content-start ms-4">
            <img src=" {% static 'icons/logo.svg' %}"
                 class=""
                 alt="logo"
                 width="32" height="32">
            <h4 class="x-black ms-1">Tectotrack</h4>
        </div>
        <div class="me-4">
            {#    <form action="{% url 'logout' %}" method="post">#}
            {#        {% csrf_token %}#}
            <button type="submit" class="x-btn-transparent x-black">Log Out</button>
            {#    </form>#}
        </div>
    </div>
{% endblock body %}