{% extends '_base.html' %}
{% load static %}

{% block title %}Login{% endblock %}


{% block body %}
    <div class="contractor-header"></div>
    <div class="container justify-content-center ">
        <div class="row justify-content-center mt-3">
            <div class="col-7">
                <h3 class="x-warning">Projects</h3>
            </div>
        </div>
        {% for project in projects %}
            <div class="row justify-content-center mt-3">
                <div class="col-7">
                    <a href="{{ project.get_absolute_url }}" class="text-decoration-none">
                        <div class="project-list rounded-2 d-flex justify-content-around">
                            <div>
                                <h4 class="x-black">{{ project.name }}</h4>
                            </div>
                            <div class=" d-flex align-items-center flex-column">
                                <p class="x-black">Notifications</p>
                                <h5 class="x-black">{{ project.notifications|length }}</h5>
                            </div>
                            <div>
                                <p class="x-black">State</p>
                                <h6 class="x-black">{{ project.get_status_display }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center mt-3">
            <div class="col-1 d-flex justify-content-center">
                <a href="{% url 'create-project' %}" class="text-decoration-none">

                    <h1 class="x-warning">
                        +
                    </h1>
                </a>

            </div>
        </div>
        <div class="row justify-content-center fixed-bottom mb-5">
            <div class="col-2 ">
                <div class="d-grid">
                    <button type="button" class="btn btn-warning">Log out</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
