{% extends '_base.html' %}
{% load static %}

{% block title %}Switch Panel{% endblock %}


{% block body %}
    <div class="container min-vh-100 d-flex flex-column text-center">
        <div class="row flex-grow-1 align-items-center mt-2">
            <div class="col">
                <a href="{% url 'login' 'contractor' %}" class="text-decoration-none">
                    <img src="{% static 'icons/favicon.svg' %}">
                    <h1 class="text-secondary">Tectotrack</h1>
                    <h3 class="x-warning">Disruptive Projects</h3>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'login'  'manager' %}" class="text-decoration-none">
                    <img src="{% static 'icons/favicon.svg' %}">

                    <h1 class="text-secondary">Tectotrack</h1>
                    <h3 class="x-primary">User Experience</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
