{% extends '_base.html' %}
{% load static %}

{% block title %}Login{% endblock %}



{% block body %}


    {% if user_type == 'manager' %}
        <div class="container text-center">

            <div class="row d-flex justify-content-center mb-3 mt-3">
                <div class="col">
                    <img src="{% static 'icons/favicon.svg' %}" alt="Logo">
                    <h1 class="text-secondary">Tectotrack</h1>
                    <h3 class="x-primary">User Experience</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-4 center">
                    <h5>Log in</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="email"
                                   name="username"
                                   autofocus
                                   maxlength="254"
                                   class="form-control bg-transparent"
                                   placeholder="Email"
                                   required
                                   id="id_username">
                        </div>
                        <div class="input-group mb-3">
                            <input type="password"
                                   class="form-control bg-transparent focus-ring-dark"
                                   name="password"
                                   autocomplete="current-password"
                                   placeholder="Password"
                                   required
                                   id="id_password">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% elif user_type == 'contractor' %}
        <div class="contractor-header"></div>
        <div class="container text-center">

            <div class="row d-flex justify-content-center mb-3 mt-3">
                <div class="col">
                    <img src="{% static 'icons/favicon.svg' %}" alt="Logo">
                    <h1 class="text-secondary">Tectotrack</h1>
                    <h3 class="x-warning">Disruptive Projects</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-4 center">
                    <h5>Log in</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="email"
                                   name="username"
                                   autofocus
                                   maxlength="254"
                                   class="form-control bg-transparent"
                                   placeholder="Email"
                                   required
                                   id="id_username">
                        </div>
                        <div class="input-group mb-3">
                            <input type="password"
                                   class="form-control bg-transparent focus-ring-dark"
                                   name="password"
                                   autocomplete="current-password"
                                   placeholder="Password"
                                   required
                                   id="id_password">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-warning">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Logo Image -->
    <!-- Application Name -->

    <!-- Login Form -->
    {#<form method="post">#}
    {#    {% csrf_token %}#}
    {#    <input type="hidden" name="next" value="{{ next }}">#}
    {#    {{ form }}#}
    {#        <!-- Email Input -->#}
    {#        <div class="form-group">#}
    {#            <input type="email" class="form-control" placeholder="Email" required>#}
    {#        </div>#}
    {#        <!-- Password Input -->#}
    {#        <div class="form-group">#}
    {#            <input type="password" class="form-control" placeholder="Password" required>#}
    {#        </div>#}
    {#        <!-- Submit Button -->#}
    {#</form>#}


{% endblock body %}
